@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="valid-404 SpacingBottom">
    <div>
        @Html.Content()
    </div>
    <div class="clear"></div>
</div>