@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.MvcContainer

<div class="DNNContainer_Boxed SpacingBottom">
    <div class="heading_wrapper">
        <h2>@Html.Title(cssClass: "TitleBoxed")</h2>
    </div>
    <div>
        @Html.Content()
    </div>
    <div class="clear"></div>
</div>