@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="DNNContainer_noTitle">
    <div>        
        @Html.Content()
    </div>
	<div class="clear"></div>
</div>