@using DotNetNuke.Web.Mvc.Skins
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="DNNContainer_Title_h2 SpacingBottom">
    <div class="heading_wrapper">
        <div class="lms_heading_3">
            <h2 class="lms_heading_title">@Html.Title(CssClass: "TitleH2-v2")</h2>
            <div class="dots-wrapper">
                <div class="dots"></div>
                <div class="dots"></div>
                <div class="dots"></div>
            </div>
        </div>
    </div>
    <div>
        @Html.Content()
    </div>
    <div class="clear"></div>
</div>