@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="DNNContainer_Title_h2 SpacingBottom">
    <div class="heading_wrapper">
        <h2>@Html.Title(cssClass: "TitleH2")</h2>
    </div>
    <div>
        @Html.Content()
    </div>
    <div class="clear"></div>
</div>