@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="DNNContainer_Title_h3 SpacingBottom">
    <div class="heading_wrapper">
        <h3>@Html.Title(cssClass: "TitleH3 centered")</h3>
        <div>
            @Html.Content()
        </div>
        <div class="clear"></div>
    </div>
</div>