@using DotNetNuke.Web.Mvc.Containers
@model DotNetNuke.Web.Mvc.Skins.ContainerModel

<div class="DNNContainer_Title_h2 SpacingBottom">
    <div class="heading_wrapper">
        <div class="lms_heading_6">
            <h2 class="lms_heading_title">@Html.Title(cssClass: "TitleH2-v6")</h2>
            <div class="rectangle"></div>
        </div>
    </div>
    <div>
        @Html.Content()
    </div>
    <div class="clear"></div>
</div>