@using DotNetNuke.Web.Mvc.Skins
@model DotNetNuke.Web.Mvc.Skins.MvcContainer

<div class="DNNContainer_Title_h4 SpacingBottom">
    <div class="heading_wrapper">
        <h4>@Html.Title(CssClass: "TitleH4 centered")</h4>
        <div>
            @Html.Content()
        </div>
        <div class="clear"></div>
    </div>
</div>